version: 2
jobs:
  build:
    docker:
      - image: enumack/buildcontainers:clang-5.0
    steps:
      - checkout
      # build!
      - run:
          name: build
          command: |
            apt-get update
            apt-get install -y git
            apt-get install -y libssl-dev
            apt-get install -y libcurl4-openssl-dev
            mkdir cmake-build-debug
            cd cmake-build-debug
            cmake --build ..
      # run tests!
      - run:
          name: run tests
          command: |
            ls -R -lah /root/project/cmake-build-debug
            

