version: 2
jobs:
  build:
    docker:
      - image: gjyoung1974/cmake:latest 
    steps:
      - checkout
      # build!
      - run:
          name: build
	  command: |
	    cmake /src
	    cmake build /src
      # run tests!
      - run:
          name: run tests
          command: |
            /src/vgs_proxy_c_example 

          
